
.prevcard-outer {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #E0E0E0;
    border-radius: 30px;
    padding: 60px 50px;
    background: #ffffff;
    margin-bottom: 60px;

}
.card-wrapper:last-child .prevcard-outer{margin-bottom: 0;}


.card-wrapper{
   position: sticky;

}



.card-wrapper:nth-child(1){
    top: 100px;

}
.card-wrapper:nth-child(2){
    top: 218px;

}
.card-wrapper:nth-child(3){
    top: 336px;

}
.card-wrapper:nth-child(4){
    top: 454px;

}



/* .prevcard-outer:nth-child(1){transform: translateY(10px);}

.prevcard-outer:nth-child(2){margin-top: 0px;transform: translateY(140px);}

.prevcard-outer:nth-child(3){margin-top: 0px;transform: translateY(270px);}

.prevcard-outer:nth-child(4){margin-top: 0px;transform: translateY(-50px);}

 */


/* .wrapper{overflow: hidden; margin-top: 60px;} */



.prevcol1 {
    width: 377px;
}

.prevcol2 {
    width: calc(100% - 377px);
    padding-left: 50px;
}

.prevcol2 img {
    width: 100%;
    display: block;
}

.prevcol1 p {
    font-style: italic;
}


.prevcol1 h3 {
    font-size: 30px;
    line-height: 1;
    margin: 0 0 20px;
      font-family: "Outfit";
}


.platform-card-session {
    margin-top: 80px;
}






@media screen and (max-width: 1340px) {

}


@media screen and (max-width: 1240px) {
.card-wrapper:nth-child(2) {
    top: 226px;
}
.card-wrapper:nth-child(3) {
    top: 354px;
}
}

@media screen and (max-width: 1024px) {
.prevcard-outer{margin-bottom: 40px;}

.prevcard-outer {
    padding: 30px 30px;
}
.prevcol1 h3{font-size: 28px; margin: 0 0 18px;}
.prevcol1 {
    width: 300px;
}
.prevcol2 {
    width: calc(100% - 300px);
    padding-left: 20px;
}
.card-wrapper:first-child {
    top: 70px;
}


.card-wrapper:nth-child(2) {
    top: 171px;
}
.card-wrapper:nth-child(3) {
    top: 270px;
}







}










@media screen and (max-width: 900px) {

}














@media screen and (max-width: 767px) {
     .prevcol1 {
        width: 100%;
    }
        .prevcol2 {
        width: 100%; padding-left: 0; margin-top: 20px;
    }
    .prevcol1 h3{font-size: 24px;}

    .card-wrapper:first-child {
    top: 50px;
}

.card-wrapper:nth-child(2) {
    top: 115px;
}
.card-wrapper:nth-child(3) {
    top: 178px;
}
.preview-div{margin-bottom: 50px;}

}



@media screen and (max-width: 600px) {
.prevcard-outer{padding: 20px; border-radius: 18px;}



}


@media screen and  (max-width: 450px) {
.card-wrapper:nth-child(2) {
    top: 130px;
}
.card-wrapper:nth-child(3) {
    top: 206px;
}

}


