@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-orange: #e88f00;
  --color-grey: #929292;
  --color-black: #2b2b2b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "Outfit-light";
  src:
    url("./Fonts/Outfit-Light.woff2") format("woff2"),
    url("./Fonts/Outfit-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Outfit";
  src:
    url("./Fonts/Outfit-Regular.woff2") format("woff2"),
    url("./Fonts/Outfit-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Outfit-medium";
  src:
    url("./Fonts/Outfit-Medium.woff2") format("woff2"),
    url("./Fonts/Outfit-Medium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PTserif";
  src:
    url("./Fonts/PTSerif-Regular.woff2") format("woff2"),
    url("./Fonts/PTSerif-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  background: #ffffff;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

.containers {
  max-width: 1320px;
  margin-inline: auto;
}

.session h5 {
  color: #e7b101;
  font-size: 14px;
  font-family: "Outfit";
  line-height: 1;
  margin: 0 0 10px;
  position: relative;
  padding-left: 9px;
}

.session h5::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 5px;
  height: 5px;
  background: #e7b101;
  border-radius: 50%;
}

.session h2 {
  color: var(--color-black);
  font-size: 60px;
  font-family: "Outfit";
  line-height: 1;
  margin: 0 0 28px;
}
a,
button {
  transition: all 0.5s ease-in-out;
}

p {
  font-family: "PTserif";
  color: #000000;
  font-size: 18px;
}

@media screen and (max-width: 1400px) {
  .containers {
    max-width: 100%;
    width: 92%;
  }
}

@media screen and (max-width: 1240px) {
  .session h2 {
    font-size: 54px;
  }
}

@media screen and (max-width: 1024px) {
  .session h2 {
    font-size: 48px;
  }

  p {
    font-size: 16px;
  }
}

@media screen and (max-width: 900px) {
  .session h2 {
    font-size: 45px;
  }
}

@media screen and (max-width: 767px) {
  .session h2 {
    font-size: 40px;
  }
}

@media screen and (max-width: 600px) {
  .containers {
    width: 90%;
  }

  .session h2 {
    font-size: 36px;
  }
}

@media screen and (max-width: 480px) {
  .session h2 {
    font-size: 30px;
  }
}
